adafruit-ampy==1.0.7
appdirs==1.4.4
bitstring==3.1.7
certifi==2020.12.5
cffi==1.14.4
click==7.1.2
cryptography==3.3.1
cycler==0.10.0
distlib==0.3.1
ecdsa==0.16.1
esptool==3.0
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.4
numpy==1.20.0
Pillow==8.1.0
pipenv==2020.11.15
pycparser==2.20
pyparsing==2.4.7
pyreadline==2.1
pyserial==3.5
python-crontab==2.5.1
python-dateutil==2.8.1
python-dotenv==0.15.0
pyudev==0.22.0
reedsolo==1.5.4
rshell==0.0.28
schedule==1.0.0
screen==1.0.1
sh==1.14.1
shell==1.0.1
six==1.15.0
virtualenv==20.4.0
virtualenv-clone==0.5.4
Werkzeug==1.0.1
